
*{
  box-sizing:border-box;
}
html{
  height:100%;
}

body{
  font-family:poppins,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: rgb(96, 166, 247); 
}

img {
  width: 2em;
  position: absolute;
  top:15px;
  left:10px;
  z-index: 1;
}

header {
  z-index:0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
  padding: 1em;
  background: rgba(37, 37, 37, 0.377);
  width: 100%;
}

.title {

  z-index: 1;
  margin-left: 30px;
}

.text-input{
  background: rgba(24, 72, 175, 0.377);
  border-top: 0.5px rgba(255, 255, 255, 0.425);
  width:100%;
  position: absolute;
  bottom:0;
  left:0;
}

input{
  margin: 1.5em;
  border-radius: 20px;
  width:90%;
  height:30px;
  border: none;
}

button {
  width: 40px;
  height: 33px;
  position: absolute;
  margin-right: 4px;
  border-radius: 20px;
  bottom:14px;
  right:120px;
}

